/** https://icomoon.io 在线制作字体图标**/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?boia6n');
  src:  url('fonts/icomoon.eot?boia6n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?boia6n') format('truetype'),
    url('fonts/icomoon.woff?boia6n') format('woff'),
    url('fonts/icomoon.svg?boia6n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bsoftlogo:before {
  content: "\e900";
  
}
.icon-hospital:before {
  /*
  //content: "\f0f3";
  */
  background-image:url(images/home.png);
}
